@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
    themes: dark --default;  
    /* light --default, dark --prefersdark; */
    root: ":root";
    logs: true;
}
/* @plugin "daisyui/theme" {
  name: "dark";
  default: true;
  /* --color-primary: blue;
  --color-secondary: teal; */
/* } */ 

@utility timeline {
  @apply justify-start;
  @apply justify-items-start;
}

@utility timeline-vertical {
  @apply justify-start;
  @apply justify-items-start;
}